body{
    margin: 0;
    padding: 0;
    font-family: "Microsoft Yahei";
}
.day_tab{
    display: inline-block;
}
ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.day_bxq{
    overflow: hidden;
}
.start_day{
    width: 120px;
    float: left;
    height: 48px;
    line-height: 48px;
}
.day_bxq_ul{
    overflow: hidden;
    background-color: #c1cad1;
    text-align: center;
    height: 45px;
    color: white;
    line-height: 45px;
}
.day_bxq_ul li{
    float: left;
}
.day_tab{
   float: right;
}
.day_tab ul{
    float: left;
}
.day_tab ul li{
    float: left;
}
.day_tab ul li a{
    display: block;
    background: #ff5050;
    border-radius: 5px;
    color: #fff;
    padding: 10px 15px;
    font-size: 14px;
}
.day_select{
    overflow: hidden;
    margin-top: 20px;
}
#showlist{
    overflow: hidden;
}
#showlist ul{
    overflow: hidden;
}
#showlist li{
    height: 45px;
    float: left;
    line-height: 45px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#ucenter_zhjl{

}
#pagefooter{
    float: right;
}
#pagefooter a{
    border: 1px solid #999;
    height: 20px;
    line-height: 20px;
    padding: 0 6px;
    border-radius: 3px;
    margin-right: 8px;
}
.ucenter_zhjl{

    overflow: hidden;
    background-color: #fbfbfb;
    margin: auto;
    padding-bottom: 20px;

}
.date_input {
    border: 1px solid #ddd;
    padding: 5px;
    width: 151px;
    height: 30px;
    line-height: 34px;
    border-radius: 5px;
    float: left;
    font-size: 16px;
}
.ucenter_zhjl .day_select span {
    height: 48px;
    width: 30px;
    text-align: center;
    display: block;
    float: left;
    line-height: 48px;
}
.ul ul li{
    display: block;
    width: 100px;
}
.ul li{
    width: 100px;

}
.ul ul{
    overflow: hidden;
}