body{
    font: 14px "Microsoft Yahei";
    margin: 0;
    padding: 0;
}
a{
    color: black;
    text-decoration: none;
}
ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}
input,button,img{
    border: none;
    outline: none;
}
/*主体布局*/
.major{
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size:16px;
    min-width: 1280px;
    background-color: #f5f7fa;
}
.head{
    height: 96px;
    width: 100%;
    min-width: 1280px;
    background-color: #2380f4;
    color: white;
    position: relative;
}
.headL{
    float: left;
    height: 96px;
    line-height: 96px;
    margin-left: 46px;
}
.headL img{
    vertical-align: middle;
}
.headL span{
    vertical-align: middle;
    font-size: 22px;
    font-weight: 700;
}
.headM{
    position: absolute;
    width: 680px;
    top: 40px;
    left: 50%;
    margin-left: -340px;
    font-size: 16px;
    font-weight: 700;
}
.headM li{
    float: left;
    margin-right: 20px;
    padding: 0 10px;
    height: 34px;
    line-height: 34px;
}
.headM li:hover{
    border-radius: 3px;
    background-color: white;
    color: #2380f4;
    cursor: pointer;
}
.headR{
    float: right;
    height: 96px;
    margin-right: 50px;
    font-size: 12px;
}
.headR li{
    margin-top: 10px;
}
.headRli img,.headRli span,.headRli button{
    vertical-align: middle;
}
.headRli{
    clear: both;
}
.headRli img{
    margin-right: 6px;
}
.headRli span{
    color: #f1ff79;
}
.headRli button{
    box-sizing: border-box;
    height: 32px;
    border: 1px solid white;
    border-radius: 3px;
    line-height: 32px;
    padding: 0 10px;
    background-color: #2380f4;
    color: white;
    margin-left: 22px;
}
.headRli button:hover{
    background-color: #ffffff;
    color: #2380f4;
}
.time{
    float: right;
    margin-bottom: 18px;
}
.contain{
    overflow: hidden;
    width: 1200px;
    margin: auto;
    height: 870px;
    background-color: white;
}
.containF{
    background-color:#f2f7ff;
    width: 100%;
    height: 38px;
    /*margin-top: 26px;*/
    overflow: hidden;
    line-height: 38px;
    font-size: 14px;
    color: #333333;
}
.containFoot{
    float: right;
    margin-right: 90px;
}
.containFoot li{
    float: left;
    padding: 0 8px;
}
.containFoot li img{
    vertical-align: middle;
    cursor: pointer;
}
.containFoot .inputCF{
    width: 36px;
    height: 26px;
    box-sizing: border-box;
    border: 1px solid #959595;
    text-align: center;
}
.containFoot .li span{
    padding: 0 4px;
}
.containFoot .button span{
    height: 22px;
    line-height: 22px;
    background-color: #2380f4;
    color: white;
    font-size: 16px;
    padding: 2px 10px;
    cursor: pointer;
}
/*以上为头跟尾*/
.containMain{
    height: 748px;
}
.containMainL{
    width: 200px;
    height: 774px;
    float: left;
    font-size: 16px;
    color: #333;
    font-weight: 700;
    border-left:1px solid #dbdbdb;
    border-right:1px solid #dbdbdb;
}
.containMainL_head{
    color: white;
    text-align: center;
    background-color: #8acfa6;
    height: 46px;
    line-height: 46px;
    border: 1px solid #dbdbdb;
    border-top: none;
}
.containMainL_head img,.containMainL_head span{
    vertical-align: middle;
    display: inline-block;
    margin-top: -6px;
}
.containMainL_ul>li{
    background-color: #d6f2e1;
    height: 38px;
    line-height: 38px;
    //border: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    position: relative;
}
.containMainL_ul img,.containMainL_ul span{
    vertical-align: middle;
}
.containMainL_ul>li>div{
    position: absolute;
    left: 58px;
}
.containMainL_ul_ul{
    font-size: 14px;
}
.containMainL_ul_ul>li{
    padding-left:78px;
    height: 40px;
    line-height: 40px;
}
.containMainL_ul_ul>li>img{
    vertical-align: middle;
}
.containMainR{
    float: right;
    width: 998px;
    height: 774px;
}
.navLabel{
    width: 998px;
    height: 46px;
}
.navLabel>div{
    width: 110px;
    height: 32px;
    line-height: 32px;
    background-color: #ffac7f;
    text-align: center;
    color: white;
    float: left;
    border-radius: 16px ;
    margin: 6px 12px;
}
.set{
    height: 40px;
    background-color: #c6e0fb;
}
.setUl{
    float: left;
    color: #0e4386;
    margin-top: 9px;
    margin-left: 25px;
}
.setUl li{
    float: left;
    font-weight: 700;
}
.setUl img{
    vertical-align: middle;
}
.setUl span{
    padding: 0 8px;
    border-right: 1px solid #7ca1cc;
}
.input{
    float: right;
    position: relative;
    margin-top: 5px;
    margin-right: 28px;
    width: 160px;

}
.input input{
    width: 140px;
    height: 28px;
    border-radius: 14px;
    padding-left: 20px;
}
.input img{
    position: absolute;
    right: 10px;
    top: 8px;
}
/*加载的iframe的大小*/
#iframe>div{
    width: 998px;
    height: 728px;
}